[submodule "kubernetes-templates"]
	path = kubernetes-templates
	url = https://github.com/HariSekhon/Kubernetes-templates
[submodule "terraform"]
	path = terraform-templates
	url = https://github.com/HariSekhon/Terraform-templates
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/HariSekhon/Jenkins
	branch = master
[submodule "github-actions"]
	path = github-actions
	url = https://github.com/HariSekhon/GitHub-Actions
	branch = master
